.inner.cover
  %h1 Blocmetrics Implementation
  %p.lead Simply add some javascript snippets to your app to start tracking events
  %p.lead Event data is then displayed using ChartJS
  %p View the README <a href='https://github.com/CasanovaTapia/blocmetrics'>here</a> to get further instructions
