.inner.cover
  %h1 Blocmetrics
  %p.lead A general purpose analytics service for tracking events on your websites
  - if current_user
    .btn.btn-lg.btn-default= link_to "My Apps", apps_path
    .btn.btn-lg.btn-default= link_to "New App", new_app_path
  -else
    .btn.btn-lg.btn-default= link_to "Sign in", new_user_session_path
    .btn.btn-lg.btn-default= link_to "Sign up", new_user_registration_path
