<h1 class="brand">Blocmetrics</h1>
<p class="lead">A general purpose analytics service for tracking events on your websites</p>
<%= link_to "Sign in", new_user_session_path, class: 'btn btn-lg btn-default' %>
<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-lg btn-default' %>
