@import "bootstrap";

// General Styling
body {
  background-color: #fff;
  color: #555;
}

a.btn {
  text-decoration: none;
}

// Header
.header {
  margin-top: 15px;
}
.nav-link {
  margin-left: 10px;
}

// Home Page
.inner {
  margin-top: 15%;
  height: 100%;
  background-color: #fff;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

// Pages
.container-body {
  margin-top: 20px;
}
